<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <select ng-model="selectedName" ng-options="x for x in names">
        <!-- 有的模块不能用repeat来代替 -->
        </select>
        <h1 ng-repeat="x in names">{{x}}</h1>
        <table>
            <tr>
                <td ng-repeat="x in names">
                    {{x}}
                </td>
            </tr>
        </table>
    </div>
    <!-- repeat的使用，1、指定重复模块 2、指定x显示位置 -->
    <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.names = ["Google", "Runoob", "Taobao"];
    });
    </script>
</body>

</html>
